@model BOL.tblLoan

@{
    ViewBag.Title = "LoanDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoanDetails</h2>

<div>
    <h4>tblLoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.actNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monthly_Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monthly_Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Tenure_Months_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Tenure_Months_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest_Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest_Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issued_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issued_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mortgage_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mortgage_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guarenteer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guarenteer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_Guarenteer_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_Guarenteer_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Number)
        </dd>

    </dl>
</div>

